@using LMS.Client.ViewModels

@model MemberManagementViewModel
@{
    ViewData["Title"] = "Member Management";
    int i = 0;
}
<div id="membermanagement" class="container-fluid">
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <img src="~/lib/resources/imgs/generaluser.png" width="150" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <h3>Member Details</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-6">
                                Email Address&nbsp<span asp-validation-for="user.Email" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                Account Status
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 form-group input-group">
                                <input class="form-control" id="memberid_input" asp-for="user.Email" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <div class="col-6 form-group input-group">
                                <input class="form-control" id="accounstatus_input" asp-for="user.account_status" readonly />
                                <div class="input-group-append">
                                    <button class="btn btn-success" id="active_btn"><i class="fas fa-check-circle"></i></button>
                                    <button class="btn btn-warning" id="pending_btn"><i class="far fa-pause-circle"></i></button>
                                    <button class="btn btn-danger" id="suspend_btn"><i class="fas fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 form-group">
                                <label>Full Name</label>
                                <input class="form-control" id="name_input" asp-for="user.full_name" readonly />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 form-group">
                                <label>Date of Birth</label>
                                <input class="form-control" id="birthdate_input" asp-for="user.dob" readonly />
                            </div>
                            <div class="col-6 form-group">
                                <label>Contact Number</label>
                                <input class="form-control" id="phone_input" asp-for="user.PhoneNumber" readonly />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 form-group">
                                <label>Street</label>
                                <textarea class="form-control" id="address_input" asp-for="user.address" rows="4" readonly></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7 form-group mx-auto">
                                <button class="btn btn-block btn-danger" id="delete_user_btn">Delete User Permanently</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3 mt-lg-0 mt-xl-0">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <h3>Member List</h3><br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <table class="table table-striped table-bordered" id="member_list" >
                                    <thead>
                                        <tr>
                                            <th>
                                                No.
                                            </th>
                                            <th>
                                                Full Name
                                            </th>
                                            <th>
                                                E-mail
                                            </th>
                                            <th>
                                                Phone Number
                                            </th>
                                            <th>
                                                Account Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var Data in Model.user_list)
                                            {
                                                <tr>
                                                    <td>
                                                        @(++i)
                                                    </td>
                                                    <td>
                                                        @Data.full_name
                                                    </td>
                                                    <td>
                                                        @Data.Email
                                                    </td>
                                                    <td>
                                                        @Data.PhoneNumber
                                                    </td>
                                                    <td>
                                                        @Data.account_status
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".table").prepend($("<thead></thead>").append($(this).find("tr:first"))).dataTable();
    });
</script>